{block title|striptags|upper}REGISTR SPOLEHLIVOSTI PLÁTCŮ DPH :: NASTAVENÍ{/block}

{block content}

<div id="resultTableDiv">
</div>

<div class="content">
    <div style="padding: 10px;">
        <div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
        {control optionsForm}
    </div>
</div>

{/block}
