.link  
{
	font-family: Arial,Arial CE,Helvetica,Helvetica CE;
	font-weight: bold;
	font-size: 10pt;
}

.text {
	font-family: Arial,Arial CE,Helvetica,Helvetica CE;
	font-size: 10pt;
}

.label, .labelNoprint {
	width: 180px;
	font-family: Arial,Arial CE,Helvetica,Helvetica CE;
	vertical-align: top;
	font-size: 10pt;
}

.tabulka_nadpis  
{
	font-family: Arial,Arial CE,Helvetica,Helvetica CE;
	font-weight: bold;
	font-size: 14pt;
}


@media screen {
	body {
		background-color: #ffffff;
		color: #555;
		font-size: 78%;		
	}
	body.epo {
		color: #000;
		font-size: 78%;
	}
	.obsah {
		margin-bottom: 10px;
		/*padding-top: 5px;*/
		margin-right: 190px;					
	}
	/* novinky:end */ /* main_home:start */
	#obsahUvod {
		padding-right: 310px;
	}
	#navigace {
		line-height: 2em;		
		text-align: left;
		padding: 0px 20px;		
	}
	body.epo #navigace {
		padding: .5em 1em;
	}
	.pouzeTisk {
		display: none;
	}
}

@media print {
	body {
		font-size: 10pt;
		background-color: #ffffff;
		color: #00000;
	}
	#hlavicka table,#pravySloupec,#novinky,#zapati,table.filtr,.netisk,#navigace,.posuvnik,.listovani
		{
		display: none;
	}
	a:link,a:visited {
		color: #520;
	}
	thead {
		display: table-header-group;
	}
	tbody {
		display: table-row-group;
	}
	tr {
		page-break-inside: avoid;
	}
	.pouzeObr {
		display: none;
	}
}

html {
	height: 100%;
	max-height: 100%;
	padding: 0;
	margin: 0;
	border: 0;
	overflow: auto;
}

body {
	margin: 0px;
	padding: 0;
	/*height: 100%;*/	
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;	
}



td,th,caption {
	_font-size: 70%;
}

img {
	border: none;
}

.center {
	text-align: center;
}

form {
	margin: 0px;
}

a {
	color: #083A6F;
	text-decoration: none;
	background-color: inherit;
}

a:hover {
	text-decoration: none;
	color: #C51F18;
	background-color: inherit;
}

ul,ol {
	margin: 0px;
	padding: 0px;
}

.reset {
	clear: both;
}

.resetLevy {
	clear: left;
}

.vlevo {
	text-align: left;
}

.uppercase {
	text-transform: uppercase;
}

.vpravo {
	text-align: right;
}

.stred {
	text-align: center;
}

.justify {
	text-align: justify;
}

img.externi {
	margin-left: 4px;
}

.tucne {
	font-weight: bold;
}

.kurziva {
	font-style: italic;
}

.zvyrazneni {
	font-style: italic;
	font-weight: bold;
	font-size: 130%;
}


/* obecné třídy */
.odsazeni {
	margin-top: 5px;
}

.nowrap {
	white-space: nowrap;
}

.cerven {
	color: #ab0c42;
	background-color: inherit;
}

body.epo .cerven {
	color: #C51F18;
	background-color: inherit;
}

.cervenaNaModre {
	color: #FFE0E0;
	background-color: inherit;
}

.max {
	width: 100%;
}

.kapitalky {
	font-variant: small-caps;
}

.zarovnani {
	text-align: justify;
}

.nahoru {
	vertical-align: top;
}

.nastred {
	vertical-align: middle;
}

.dolu {
	vertical-align: bottom;
}

.podtrzeni {
	border-bottom: solid 1px #dedbde;
}

.skryt {
	display: none;
}

.ram {
	border: solid 1px black;
}

.odsazeni5 {
	margin: 5px;
}

.odsazeniSloupce {
	padding-left: 30px;
}

.vata5 {
	padding: 5px;
}

a.normal {
	text-decoration: none;
	background-color: #d6d3ce;
	padding: 4px 4px 4px 4px;
	border-bottom: solid 1px #424242;
	border-right: solid 1px #424242;
	border-top: solid 1px white;
	border-left: solid 1px white;
	font-size: 1.2em;
	color: black;
}

a:hover .normal {
	text-decoration: none;
	color: black;
}

.listaLink {
	padding: 10px 0px 10px 0px;
}

.listaLink a {
	margin-right: 2em;
}

.textNormal {
	font-weight: normal;
}

.odsazeniZLeva {
	margin-left: 20px;
}

.kompList {
	width: 90%;
	display: block;
	white-space: nowrap;
}

.odsazeni1em {
	margin-top: 1em;
}

.odsazeni2em {
	margin-top: 2em;
}

.zvetseny {
	font-size: 110%;
}


#hlavicka {
	background-color: #F5F7F4;	
	color: white;
	width: 100%;
	min-width: 990px;
}

#hlavicka .top {
	width: 100%;
	padding: 0;
}

#hlavicka .top .sloupec1 {
	width: 324px;
	padding-left: 20px;	
}

#hlavicka .top .sloupec1 a {
	height: 100%;
	padding-top: 38px;	
}

#hlavicka .top .sloupec2 {
	width: 430px;
	vertical-align: top;
	text-align: left;
	padding-left: 0px;
	padding-right: 20px;
}

body.epo #hlavicka .top .sloupec2 {
	padding-right: 0;
}

.portal {
	font-size: 1.95em;
	font-weight: bold;
	color: white;
	margin-left: 1em;
}

.dodatek1 {
	margin-left:auto;
	margin-right:auto;
	color: #C51F18;
	background-color: inherit;
	font-weight: bold;	
	white-space: nowrap;
}

/* panel v pravem hornim rohu:start */
#panel {
	padding: 0;
	color: #083A6F;
	background-color: inherit;
	width: 180px;
	font-size: 1em;
	margin-left: 250px;
}

#panel ul {
	margin-left: 20px;
}

#panel li {
	list-style-type: none;
	text-indent: 10px;
	background: url('../obr/sipka_vpravo.gif') no-repeat 0px -1px;
}

#panel .kapitalky {
	font-weight: bold;
	color: #3C7084;
}

#panel a {	
	text-decoration: underline;
	text-align: left;
	color: #AB0C42;
}

#panel a:hover {
	color: #52899e;			
	background-color: inherit;
}
/* panel v pravem hornim rohu:konec */

/* navigace:start */
#navigace {	
	background-color: #ffffff;
}

body.epo #navigace {
	font-size: .8em;
	color: #083A6F;
	background-color: #ffffff;
}

#navigace a {	
	text-decoration: underline;
	color: #ab0c42;
}

#navigace a:hover {
	color: #52899e;
}

#navigace .separator {
	padding-left: 22px;
	background: url("../obr/arr-small.png") center center no-repeat;
}

#navigace .mezera {
	margin: 0 3px 0 3px;
}

#navigace #datum {
	float: right;
	color: #555;	
}

body.epo #navigace #datum {	
	font-size: 1.2em;
}

/* navigace:konec */

/*box v obsahove kostre */
#content .boxSeznam {
	margin-left: 10px;
}

/* right column:start */
#pravySloupec {
	width: 180px;
	float: right;
	z-index: 100;
	height: 100%;
	margin: 0 0 0 10px;	
}

.praveMenu {
	margin-left: 5px;
	z-index: 100;
	width: 185px;
	margin-bottom: 15px;
	text-align: left;
	background: url('../obr/prave_menu.gif') 5px 0px no-repeat;	
}

.napoveda {
	z-index: 100;
	text-align: left;
	overflow: auto;
	height: 10em;
	padding: 3px 5px 3px 5px;
	background-color: white;
}

.praveMenu h3 {
	color: white;
	background-color: inherit;
	font-weight: bold;
	font-variant: small-caps;
	font-size: 1em;
	padding-top: 6px;
	padding-left: 20px;
	padding-bottom: 6px;
	margin: 0px 0px 0px 10px;
}

.praveMenu ul.seznam li {
	list-style-type: none;
}

.praveMenu ul.seznam li {
	width: 180px;
	padding: 0px;
	margin: 0px;
}

.praveMenu .odkazIkona {
	display: block;
	margin:0 1px 0 6px;
	padding: 4px 0 4px 5px;	
	border-bottom: solid 1px #D9D9D9;		
}

.klikBox .odkazIkona {
	display: block;
	margin:0;
	padding: 4px 0 4px 5px;	
	border-bottom: solid 1px #D9D9D9;		
}


.klikBox {
	border: solid 1px #083A6F;
	margin: 0px 0px 5px 0px;
}

.klikBox .nadpis {
	font-weight: bold;
	font-variant: small-caps;
	font-size: 1em;
	padding-top: 6px;
	padding-left: 20px;
	padding-bottom: 6px;
	background-color: #083A6F;
	color: white;
	cursor: default;
}

.klikBox .polozky a {
	display: block;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	background-color: #f7f7f7;
	color: #083A6F;
	text-align: left;
	padding: 3px 0 3px 15px;
	border-bottom: 1px solid #D9D9D9;
}

.klikBox .polozky a.aktivni {
	background-color: #d8e6f5;
	background: url('../obr/ikona_sipka_vpravo.gif') 6px center no-repeat #d8e6f5; 
}

.klikBox .polozky a:hover {
	color: #C51F18;
}


.praveMenu .seznam a,.klikBox .dpr a {
	margin: 0px 0px 0px 6px;
	font-size: 1em;
	background: url('../obr/prave_menu_polozka.gif') #F7F7F7 0px 0px
		no-repeat;
	font-weight: bold;
	color: #083A6F;
	display: block;
	width: 178px;
	_height: 28px;
	min-height: 28px;
	border-bottom: 1px solid #D9D9D9;
}

.klikBox .dpr a {
	margin: 0px 0px 0px 0px;
	width: 178px;
}

.praveMenu .seznam a:hover,.klikBox .dpr a:hover {
	background: url('../obr/prave_menu_polozka.gif') -180px 0px no-repeat;
	color: #C51F18;
	background-color: inherit;
}

.praveMenu .seznam a span,.klikBox .dpr a span {
	padding: 8px 1px 5px 25px;
	display: block;
}

.praveMenu .footer {
	position: relative;
	top: -12px;
	background: url('../obr/prave_menu_dole.gif') right top no-repeat;
	height: 18px;
}

.praveMenu .footer .cover {
	position: absolute;
	left: 0px;
	bottom: -12px;
	width: 185px;
	height: 18px;
	color: inherit;
	background-color: #ffffff;
}

/* box:start */
.box {
	background: url('../obr/box_nahore.gif') left top repeat-x;
	position: relative;
}

.box .levyOkraj {
	background: url('../obr/box_vlevo.gif') left top no-repeat;
	position: relative;
}

.box .pravyOkraj {
	background: url('../obr/box_vpravo.gif') right top no-repeat;
	position: relative;
}

.box h3 {
	color: white;
	background-color: inherit;
	font-size: 1.2em;
	padding: 7px 5px 15px 13px;
	font-variant: small-caps;
	font-weight: bold;
	margin: 0px;
}

.box h4 {
	color: #C51F18;
	background-color: inherit;
	font-weight: bold;
	padding: 3px 5px 35px 13px;
	margin: 0px 0px 0px 0px;
	font-size: 1em;
	text-align: left;
}

.box .boxObsah {
	margin: 10px;
}

/* box:end */
.pristupnost {
	display: none;
}

.obsah a {
	text-decoration: underline;
}

.obsah a:hover {
	text-decoration: underline;
}

#telo .obsah a {
	color:#ab0c42;	
}

#telo .obsah a:hover {
	color: #52899e;	
}

.obsah div.podnadpis {
	margin-bottom: 3px;
	text-align: justify;
}

.obsah h2,h3,h4,h5,h6 {
	margin: 0px;	
}

body.epo .obsah h2, body.epo .obsah h3, body.epo .obsah h4, body.epo .obsah h5, body.epo .obsah h6 {
	margin: 0px;
	color: #083A6F;
	background-color: inherit;
}

.obsah h1 {	
	font-size: 26px;	
	line-height: 1.2;	
	margin: 0.3em 0 .2em;
	border-bottom: none;
	padding: 0;
}

.obsah h1.dalsi {
 	margin-top: 20px;
}


body.epo .obsah h1 {
	color: #083A6F;
	background-color: inherit;
	line-height: 1.3em;
	font-size: 1.3em;
	padding: 6px 5px 5px 5px;
	border-bottom: solid 1px #083A6F;
	margin: 0px 20px 5px -5px;
}

.obsah h2,.obsah .h2 {
	margin: 10px 0px 0px -5px;
	font-size: 20px;
	padding: 5px 0px 5px 5px;
}

.obsah .jakoH2 {
	margin: 15px 0px 0px 0px;
}

body.epo .obsah h2,.obsah .h2 {
	margin: 10px 0px 0px -5px;
	color: #083A6F;
	background-color: inherit;
	font-size: 1.3em;
	padding: 5px 0px 5px 5px;
}

.obsah h3 {
	font-size: 18px;
	font-weight: bold;
	line-height: 1.2;
	margin: 1.5em 0 .5em;
}

body.epo .obsah h3 {
	margin: 10px 0px 0px 0px;
	color: #083A6F;
	background-color: inherit;
	font-size: 1.1em;
}

.obsah h3.cerven {
	color: #ab0c42;
}

body.epo .obsah h3.cerven {
	color: #C51F18;
}

.obsah h4 {
	font-size: 16px;
}

body.epo .obsah h4 {
	font-size: 1em;
}

.obsah h5 {
	font-size: 15px;
}

body.epo .obsah h5 {
	font-size: 0.9em;
}

.obsah h6 {
	font-size: 15px;
}

body.epo .obsah h6 {
	font-size: .8em;
}

body.epo .obsah h2.epo {
	border-bottom: solid 1px black;
	background: none;
	font-size: 1.2em;
	border-bottom: solid 1px #083A6F;
	margin: 15px 50px 5px -5px;
}

.obsah ul.menu {
	margin: 0 0 0 20px;
}

.obsah ul.menu li {
	list-style-type: none;
}

.obsah ul.menu a {
	text-decoration: underline;
}


#odkazy ul {
	margin-left: 15px;
}

#odkazy ul.blok {
	margin-bottom: 2em;
}

#odkazy ul li {
	list-style-type: none;	
	margin: 10px 0 10px 0;
}

/* vyjimka pro seznam pisemnosti */
form #telo #odkazy ul li {
	font-weight: bold;
}

#odkazy ul.normal li {
	list-style-type: disc;
	font-weight: normal;
	margin: 5px 0 5px 0;
}

#odkazy ul li a {
	color: #083A6F;
	background-color: inherit;
}

#odkazy ol {
	margin-left: 30px;
}

#odkazy h2 {
	margin-bottom: 5px;
}

#odkazy h3 {
	margin: 15px 0px 2px 5px;	
}

h3 a {
	color: #000000;
	background-color: inherit;
}

p {
	margin: 3px 0px 0px 0px;
	text-align: justify;
}

table.sablona {
	border-collapse: collapse;
	border-spacing: 0;
}

table.sablona caption {
	text-align: left;
}

table.sablona th {	
	background-color: #f4fafc;
	text-align: left;
	border: solid 1px #B3CED8;
	padding: 7px 8px;
	_font-size: 11px;
}

body.epo table.sablona th {
	color: #083A6F;
	background-color: inherit;
	text-align: center;
	border: solid 1px #4269ae;	
	padding: 5px 5px 5px 5px;
	_font-size: 0.8em;
}

table.sablona td .suma {
	color: #083A6F;
}

table.sablona th .text {
	font-weight: normal;
	font-size: 0.9em;
	color: #464647;
	background-color: inherit;
}

table.sablona th.data {
	color: #000;
}

table.sablona th.dole {
	border-bottom: solid 2px #4269ae;
}

table.sablona td {
	border-collapse: collapse;
	border: solid 1px #B3CED8;
	_font-size: 0.8em;
	padding: 7px 8px;
}

body.epo table.sablona td {
	border-collapse: collapse;
	border: solid 1px #4269ae;
	_font-size: 0.8em;
	padding: 3px 5px 3px 5px;
}

table.sablona a {
	text-decoration: none;
	color: #000000;
	background-color: inherit;
}

table.sablona a:hover {
	text-decoration: underline;
}

.radioPanel {
	border-collapse: collapse;
}

.hodnota {	
	font-weight: bold;
}

.klicHodnota .klic {
	padding: 3px 0 0 0;
}

.inputLabel,
.klicHodnota .hodnota {
	padding: 3px 0 0 10px;	
	font-weight: bold;
}

.klicHodnota .klicInput {
	padding: 6px 0 0 0;
	vertical-align: top;
}

.klicHodnota .hodnotaInput {
	padding: 3px 0 0 10px;
	font-weight: normal;	
}

input.normal {
	cursor: pointer;
}

.chyba {	
	color: #ab0c42;
	background-color: inherit;
	font-size: 1.1em;
}


.tabulka2 .radek {
	clear: left;
	width: 90%;
	margin: 0px 0px 0px 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.tabulka2 .pod_podnadpis {
	font-weight: bold;
	margin: .7em 0em 0em 0em; 
}

.tabulka2 .klic {
	float: left;
	width: 20%;
}

.tabulka2 .hodnota {
	float: left;
	/* swidth: 70%; */
}

.tabulka2 .klic_kh {
	float: left;
	width: 38em;
}

.posuvnik td {
	width: 20px;
}


.neni {
	margin: 10px 0 0 0;
	font-weight: bold;
}

div.hr {
	border-bottom: solid 1px black;
	margin-bottom: 5px;
	padding-top: 5px;
}

/* tlacitko pro aplikaci filtru a trideni */
.vyber {
	display: block;
	margin: 5px 0px 10px 5px;
}

/* read only inputy */
input.readonly {
	background-color: #eee;
	color: gray;
}

/* Default attributes of table container for entire calendar */
.jscalendar-DB-table-style {
	font-size: 1em;
	_font-size: 1em;
}

/* Default attributes used in calendar title (month and year columns).*/
.jscalendar-DB-title-style {
	font-size: 1em;
	_font-size: 0.7em;
}

/* Default attributes of drop down lists (month and year). */
.jscalendar-DB-dropdown-style {
	font-size: 1em;
	_font-size: 1.3em;
}

/* Default attributes of calendar body (weekday titles and numbers). */
.jscalendar-DB-body-style {
	font-size: 1em;
	_font-size: 1.2em;
}

.jscalendar-DB-today-style {
	font-size: 1em;
	_font-size: 1.2em;
}

/* Musí zůstat na konci !!! */
input[type="hidden"] {
	display: none;
}

.upload {
	font-size: xx-small;
	border: solid red 1px;
	width: 300px;
}

.progress {
	font-size: xx-small;
}

.progress DIV {
	background-color: silver;
	background-image: url('../obr/progressbar.png');
	background-repeat: repeat-x;
	padding: 0px;
}

.progress TD {
	border: solid green 1px;
	padding: 0px;
}

.progress-popis {
	font-size: xx-small;
}

.vetsiPismo {
	font-size: 130%;
}

/* styl pro komponentu hlib:odkazHtml, odkaz tučný, dodatek normální font  */
.odkazHtml {
	font-weight: normal;
}

.odkazHtml a {
	
}

.tlacIkona {
	height: 16px;
	width: 16px;
	border-style: none;
	background-color:#d4d4d4;
	cursor: pointer;
	padding: 0;
	background-position: 0 0;
	background-repeat: no-repeat;
}
.tlacPlus {			
	background-image: url('../obr/tl_mo_plus.gif');	
}
.tlacMinus {
	background-image: url('../obr/tl_mo_minus.gif');	
}
.tlacPrepinacZap {
	background-image: url('../../idpr_epo/epo2/obr/tlac/zobrazit_detail.gif');		
}
.tlacPrepinacVyp {
	background-image: url('../../idpr_epo/epo2/obr/tlac/skryt_detail.gif');	
}
.tlacPridat {
	background-image: url('../../idpr_epo/epo2/obr/tlac/pridat_radky.gif');		
}
.tlacPridatList {
	background-image: url('../../idpr_epo/epo2/obr/tlac/pridat_list.gif');		
}
.tlacSmazat {
	background-image: url('../../idpr_epo/epo2/obr/tlac/smazat.gif');		
}
.tlacSmazatList {
	background-image: url('../../idpr_epo/epo2/obr/tlac/smazat_list.gif');		
}
.tlacMax {
	background-image: url('../../idpr_epo/epo2/obr/tlac/maximalizovat.gif');		
}
.tlacMin {
	background-image: url('../../idpr_epo/epo2/obr/tlac/minimalizovat.gif');		
}
.tlacZacatek {
	background-image: url('../../idpr_epo/epo2/obr/tlac/prvni_strana.gif');		
}
.tlacRychleDozadu {
	background-image: url('../../idpr_epo/epo2/obr/tlac/n_stran_vzad.gif');		
}
.tlacRychleDozadu_2 {
	background-image: url('../../idpr_epo/epo2/obr/tlac/10n_stran_vzad.gif');		
}
.tlacDozadu {
	background-image: url('../../idpr_epo/epo2/obr/tlac/predchozi_strana.gif');		
}
.tlacDopredu {
	background-image: url('../../idpr_epo/epo2/obr/tlac/nasledujici_strana.gif');		
}
.tlacRychleDopredu {
	background-image: url('../../idpr_epo/epo2/obr/tlac/n_stran_vpred.gif');		
}
.tlacRychleDopredu_2 {
	background-image: url('../../idpr_epo/epo2/obr/tlac/10n_stran_vpred.gif');		
}
.tlacRodic {
	background-image: url('../obr/tl_mo_sipka_vpravo.gif');
}

.tlacKonec {
	background-image: url('../../idpr_epo/epo2/obr/tlac/posledni_strana.gif');		
}

.prepinac {
	cursor: pointer;
}
.prepinac img {
	border: solid 1px #083A6F; 
}
.prepinac input {
	margin: .4em 0 .2em 0;	
}

#zapati {
	text-align: left;
	clear: both;	
	padding: 6px 20px 8px;
}

body.epo #zapati {
	text-align: left;
	clear: both;
}

#zapati .text {	
	text-align: left;
	height: auto;
	spadding: 7px 20px 7px;
}

body.epo #zapati .text {
	color: #000000;
	background-color: inherit;
	text-align: left;
	height: auto;
	padding: 7px 5px 7px 0;
}


#zapati .sloupec1 {
	float: left;	
}

body.epo #zapati .sloupec1 {
	float: left;
	margin-top: 7px;
}


#zapati .sloupec2 {
	text-align: right;
	margin: 0 0px 0px 0px;
}

body.epo #zapati .sloupec2 {
	text-align: right;
	margin: 7px 0px 0px 0px;
}


#zapati a {
	text-decoration: underline;		
	color: #ab0c42;
}

#zapati .sloupec2 a {	
	padding: 0px 0px 0px 10px;
}

#zapati a:hover {
	color: #52899e;
}

body.epo #zapati a {
	text-decoration: underline;
	padding: 0px 2px 0px 0px;
	color: #083A6F;
	background-color: inherit;
}

#hlavicka .top .sloupecEPO {
	vertical-align: top;
}

.epoTlacitka {
	margin: 0px 0px 5px 0px;
	padding: .5em 1em .5em 1.5em;
}

.boxTlacitka input {
	display: block;
	width: 100%;
	text-align: left;
	padding: .3em 0 .2em 1em;
	cursor: pointer;
}

.epoTlacitka .boxTlacitka input {
	margin: 0px 0px 0.5em 0px;
	font-size:1.15em;
	width: 11.5em;
}

.epoTlacitka .boxTlacitka input.odeslat {
	margin: 0;
	height: 3em;	
	width: 10.1em;
}

.epoTlacitka2 {
	margin: 0px;
	padding: 0px 5px 5px 5px;
}

#telo .epoTlacitka2 {
	padding: 0;
}

.daptyp_radia {
	width: 10em;
}
.daptyp_prazdny {
	width: 90%;
}

.epo .podporaIkona {	
	margin:0 0 9px 0;
	display: block;
	border: solid 1px #083A6F;		
}

.podtrzene {
	text-decoration: underline;
}

.odsazeni1emDole {
	margin-bottom: 1em;
}

.tabForm .sloupecSmazat, .tabFormKompakt .sloupecSmazat {
	padding: 0 5px;
}

.chybaRam {
	display: block;
	border: solid 3px red;
}
.prDatum {
	margin-top: 2px;
	margin-bottom: 2px;
}

.tabOdsazeni {
	padding-left: 5px;
}

ul {
	margin: 0 0 1.5em 5px;
	list-style: none;
	padding: 0;
}
ul li {
	padding-left: 12px;
	background: url("../obr/li.png") 0 7px no-repeat;
}

hr.cleaner {
	clear: both;
	height: 0px;
	visibility: hidden;
}

#stranka {
	height: 100%;
	margin: auto auto;
}

/* TOP MENU */
.top {
	background: #f6f6f6 url('../obr/header.jpg') right center no-repeat;	
}
.sluzby {	
	border-top :solid 1px #ab0c42 ;	
	text-align: left;
}
.sluzby div {
	border-top :solid 1px #ffffff;	
	padding: .6em 10px .6em 10px;
	background-color: #ab0c42;	
	height: 1em;	
}

.sluzby a {
	color: #fff;
	background-color: inherit;	
	padding: 0 10px 0 10px;	
	margin-right: 1em; 
	font-weight: bold;
}
.sluzby a.oddelovac {
	border-left: solid 2px #9C9E9F;
}
.sluzby img {
	padding: 0 0 0 1em;	
}


#logo {
	height: 134px;
}

.dodatek2a {	
	color: #CC0000;
	font-size: 12pt;
	font-weight: bold;
}
.dodatek2b {
	color: #CC0000;
	font-size: 8pt;
	font-weight: normal;
}
.dodatek2c {
	font-size: 9pt;
	font-weight: normal;
	text-decoration: underline;
}

#logo .dodatek1 a:hover {
	text-decoration: underline;
}

#logo .dodatek1 {	
/*	font-size: 1.7em;
	line-height: 134px;*/
	margin: -130px 0 0 330px; 	
	padding: 45px 160px 0 0px;
	display: block;
	height: 134px;
	text-align: center;
}

#logo a {	
	display: block;	
	cursor: pointer;	
}
/* logo bar:konec */

#telo {
	margin-left: 20px;
	margin-right: 20px;	
}	

#telo, #teloKoef {
	margin-top: 2px;
	min-height: 500px;
	min-width: 950px;
	_height: 500px;
	text-align: left;
}  /* homeBoxNovinek */
#telo .boxSeznam {
	margin-right: 275px;
}

#teloKoef {
	min-height: 0px;
	padding-left: .8em;
	padding-right: .8em;
}

/* novinky:start */
.box-std {
	margin-bottom: 16px;
	border: 1px solid #3c7084;
}

.box-std a {
	color: #ab0c42;
}

.box-std a:hover {
	color: #52899e;
}

.box-std .title {
	background: #3c7084;
	color: #fff;
	margin: 0;
  	font-size: 13px;
  	line-height: 20px;  	
  	padding: 6px 16px;
  	text-transform: uppercase;
}

.box-std .boxObsah {
	padding: 15px 11px;
}

.box-std ul {
	list-style-type: none;
	border: none;
	margin: 0;
	padding: 0;
}

.box-std ul.seznam li {
	border-top: 1px solid #e7f2f6;
	background: url("../obr/arr-small.png") 8px 12px no-repeat;
	padding-left: 0;
}

.box-std ul li:first-child {
	border-top: none;
}

.box-odkazy li a {
	display: block;
 	padding: 8px 5px 10px 18px;
	font-size: 11px;
	line-height: 15px;
	font-weight: bold;
	text-decoration: none;
	position: relative;
}

.box-odkazy li a:hover {
	text-decoration: underline;
}

.box-externi a {
	display: block;
	padding: 10px;
}

.box-externi ul.seznam li {
	background-image: none;
}

.box-akt .datum {
	display: block;
	padding: 8px 10px 0px 18px;
}

.box-akt li a {
	display: block;
 	padding: 1px 5px 5px 18px;
}

#novinky {
	float: right;
	width: 300px;
	margin-left: 68px;
}

#novinky .titulek {
	font-size: 12px;
	line-height: 18px;
	margin: 0 0 8px;
}

#novinky .titulek a {
	text-decoration: underline;		
}


#novinky li {	
	padding: 0;
	margin: 15px 0 10px 0;
	background-image: none;
}

#novinky li:first-child {
	margin: 0;
}

#novinky ul li .datum {	
	margin: 0 0 3px;
}

#novinky .novinka {
	text-align: justify;
	line-height: 15px;
}

#novinky .prejit {
	color:#ab0c42;
	text-decoration: underline;
}

#novinky a.prejit:hover {
	color: #52899e;
}

#novinky h4 {
	font-weight: bold;
	color: #083A6F;
	background-color: inherit;
	font-size: 1em;
	margin: 0;
	padding: 0 0 5px 0;
}

#novinky h4 a {
	text-decoration: underline;
}


#zapati {	
	border-top: #3c7084 solid 1px;
	border-bottom: #3c7084 solid 1px;
	margin-bottom: 1em;	
	margin-top: 0px;
	min-width: 950px;
}

/* tabulka se mapou webu */
#mapa {
	margin-top: 10px;
	border-collapse: collapse;
}

#mapa td {
	padding: 0px 10px 5px 10px;
	vertical-align: top;
	border: dashed 1px black;
}

#mapa ul {
	padding: 0 0 0 2em;
	list-style-type: none;
}

#mapa li {
	margin: 0.5em 0 0.5em 0;
}

/* tabulka filtru*/
table.filtr {
	border-collapse: collapse;
}

table.filtr td {
	vertical-align: top;
	padding: 3px 5px 3px 10px;
	border: solid 1px #B3CED8;
}

table.filtr td.bunkaFiltru {
	
}

.filtr select {
	font-size: 1.1em;
}

.filtr #obdod,.filtr #obddo {
	font-size: 1.1em;
	text-align: right;
}
table.filtr table td {
	border: none;
	padding: 0px;
}

table.filtr .tabulkaObdobi td {
	padding-left: 3px;
}

.filtr .sloupec1 {
	white-space: nowrap;
}

.filtr .sloupec2 {
	white-space: nowrap;
}

.filtr .sloupec3 {
	
}

.filtr select {
	
}

.filtr select.typPisemnosti {
	width: 30em;
}

select.smerTrideni {
	width: 3em;
	margin-right: 2em;
}

/* konec tabulky filtru */

.subjekt {
	font-weight: bold;
	color: #3C7084;
	background-color: inherit;
}

/* dvousloupcova tabulka typu klic -> hodnota  */
table.tabVlastnosti {
	
}

/* tabulka detailu */
table.detail {
	color: inherit;
	background-color: #f4f4ff;
	border-collapse: collapse;
	margin-top: 0;
	margin-bottom: 20px;
}

table.sablona tr.detail table.detail td {
	border: solid 1px #ccc;
}

table.sablona tr.detail td {
	border: none;
}

table.sablona .adresa {
	width: 24em;
}

table.sablona .stav {
	width: 8em;
}

table.sablona .odeslani {
	width: 22em;
}

table.sablona .doruceni {
	width: 20em;
}

/* konec tabulky detailu */

.mena {
	text-align: right;
	white-space: nowrap;
	font-family: "Courier New", courier, monospace;
	color: #000;
}

#telo .obsah .mena a, #telo .obsah .mena a:hover {
	color: #000;
	background-color: inherit;
}
.mena a {
	color: #000;
	background-color: inherit;
}

span.vybrat,.tlacitko {
	padding: 0px 2px 0px 2px;
	background-color: white;
	margin-right: 5px;
	border: solid 1px #ab0c42;
	color: #ab0c42;
}

.tlacitko:hover {
	color: #52899e;
}

input.tlacitko {
	font-size: 1.2em;
	cursor: pointer;
}

span.vybrat a,.tlacitko a {
	color: #ab0c42;
	background-color: inherit;
	font-size: 1.2em;
	text-decoration: none;
}
span.vybrat  {
	border: none;	
	padding: 0;
}

span.vybrat a {	
	border: solid 1px #ab0c42;
	padding: 0px 2px 0px 2px;
}

span.vybrat a:hover,.tlacitko a:hover {
	color: #52899e;
	background-color: inherit;
	text-decoration: none;
}

.tlacitkoDetailPlus {
	border: 0px;
	width: 12px;
	height: 12px;
	background: url('../obr/sipka_rozbalit.gif') transparent 0px 0px no-repeat;
	font-size: 0px;
	cursor: pointer;
}

.tlacitkoDetailMinus {
	border: 0px;
	width: 12px;
	height: 12px;
	background: url('../obr/sipka_zabalit.gif') transparent 0px 0px no-repeat;
	font-size: 0px;
	cursor: pointer;
}

#potvrzeni {
	font-size: 1.2em;
}

.nazevUctu {
	padding-left: 3.6em;
}

table .ikona {
	width: 50px;
	text-align: center;
}

h2.lista {
	background: url('../obr/nadpis.gif') center left no-repeat;
	cursor: pointer;
	margin-bottom: 5px;
}

h2.lista img {	
	position: relative;
	top: -5px;
	margin-left: 20px;
}


.rozcestnik {
	margin: 30px 58px 0 0;
}

.sluzba  {
	padding-left:90px;
	margin-bottom:16px;
	position:relative;	
}

.sluzba .ikonaW {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	bottom: 0;
	width: 87px;	
	background: #9bc8d8;
	font: 0/0 a;
	color: transparent;
	text-decoration: none;
	border-right:3px solid #3c7084;
}

.sluzba .ikonaW img {	
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	display: block;
}

.sluzba .spc {
	padding: 0 37px 0 22px;
	border: 1px solid #e7f2f6;
	background: #f4fafc;
	border-left: none;
	min-height: 88px;
	position: relative;
}

.sluzba a {
	color: #ab0c42;
}

.sluzba a:hover {
	
}

.sluzba .prejit {
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	bottom: 0;
	width: 36px;
	border-left: 1px solid #e7f2f6;	
	font: 0/0 a;
	color: transparent;
	text-decoration: none;
	background: #fff url("../obr/arr-big.png") center center no-repeat;
}

.sluzba a.prejit:hover {
	background-color:#f4fafc;
}

.sluzba h3 {
	margin: 15px 0 8px 0;
}

.sluzba .nazev {
	color: #ab0c42 !important;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
  	text-transform: uppercase;
	text-decoration: underline;
}

.sluzba .nazev:hover {
	color:#52899e !important;
	text-decoration: underline;
}

.sluzba .vstup {
 	float:right;
 	margin:0 0 0  0;
}
.sluzba .klic {	
	padding: 0 18px 0 .6em;	
	background: url('../obr/ico-key.png') transparent center right no-repeat;
	text-decoration: none;
}

.sluzba .info {		
	spadding:.3em 0 0 90px;	
}

table.nastaveni {
	border-collapse: collapse;
	border-spacing: 0;
}

table.nastaveni th {
	color: #065b9d;
	background-color: inherit;
	text-align: center;
	border-left: solid 1px #4269ae;
	border-right: solid 1px #4269ae;
	border-top: solid 1px #4269ae;
	border-bottom: solid 2px #4269ae;
	padding: 5px 5px 5px 5px;
	_font-size: 0.8em;
}

table.nastaveni td {
	border-collapse: collapse;
	border: solid 1px #4269ae;
	_font-size: 0.8em;
	padding: 3px 5px 3px 5px;
}
.detailZustatky {	
	display: none;
	font-size: .9em;
}

.detailZustatky .tucne {	
	padding-left: 3em;	
}

.globChyby {
	color: #cf0000;
	font-weight: bold;
}

.globChyby ul {
	list-style-type: none;
}

#vypocetKoef {
	background-color: #C7EAFB;
	padding-bottom: 2em;
	padding-right: .8em;
	padding-left: 20px;
	margin-right: 0;
}

#vypocetKoef .prvni {
	width: 150px;
}

#vypocetKoef .vypocet {
	margin: 1em 0 0 0;
}

#vypocetKoef .upozorneni {
	color:red;
	margin: 0 0 1em 0;
}

#vypocetKoef .upozorneniD {
	color:red;
	margin: .8em 0 0 0;
}

#vypocetKoef .grid {
	border-collapse:collapse;
}

#vypocetKoef .grid, #vypocetKoef .grid td {
	border: solid 1px black;
	padding: .4em;
}

#vypocetKoef .informace {
	margin: 2em 0 0 0;
	color:red;
	font-size: 1.2em;
	font-weight: bold;
}

.labelInput input, .labelInput select {
	margin-left: 0;
	outline: none;
}

#vypocetKoef .akce {	
	padding: .4em 2em; 
}

.labelInput input {
	padding: 2px;	
	border: solid 1px #707070;	
} 

.labelInput select {
	border: solid 1px #707070;
}

input.akce {
	padding: 0;
}

.labelInput .disabled {
	border: solid 1px #BCBCBC;
	background-color: #E5E5E5;	
	background: -webkit-gradient(linear, left top, left bottom, from(#E5E5E5), to(#E5E5E5)); 
}

/* komponenta Naąeptávač */
.naseptavac {
	cursor: default;
	display: inline;
}

.naseptavac table {
	border-spacing: 0;
}

.naseptavac .aktivni {
	background-color: #295d94;
	color: white;
}

.naseptavac .data div {
	padding: .2em .1em .2em .5em;
}

/* komponenta InputCalendar, InputCalendarI */
.jscalendar-DB-title-background-style {
        background-color: #3C7084;
}
.jscalendar-DB-title-control-normal-style {
        border-style: solid;
        border-width: 1px;
        border-color: #9bc8d8;
        cursor: pointer;
}

.eetTab {
	margin: 20px 0 0 0;
}
.eetTab .eetTlac {
	margin: 0 0 5px 0;
} 

.eetTlac .eetTlacSk {
	margin: 0 20px 0 0 ;
}

.eetTlac .eetTlacSk input {
	margin: 0 5px 0 0 ;
}

.eet .obsah {
	margin-bottom: 20px; 
}

.eetNeautorizovany {
	color: #ab0c42;
	font-size: 16px;
	font-weight: bold;
}

.overeni {
/*	width: 710px; */
}

.overeni .klicHodnota {
	width: 100%;
}

.overeni .klicHodnota .sloupec1 {
	width: 160px;
}

.eetChyba {
	color: #ab0c42;
	background-color: inherit;
	font-size: 1.1em;
	display: block;
}

.eet .sirka1, 
.eet .ta255 {
	width: 550px;
	box-sizing:content-box;	
	padding: 0;
}

.eet .sirka1 {
	
}

.eet .frm {
	border-spacing: 0px;
    border-collapse: collapse;
}

.eet .frm td {
	padding: 5px 5px 5px 0;
}

.eet .frm table {
	border-spacing: 0px;
    border-collapse: collapse;        
}

.eet .frm table td {
	padding: 2px 10px 2px 0;
}

.eet .frm table.radio td {
	padding: 2px 20px 2px 0;
}

.eet .frm table table td {
	padding: 0px;
}

.eet .frmTlac input {
	margin: 10px 10px 0 0;	
}

.ta255 {	
	height: 80px;
}

.odsazeniTlac {
	margin-top: .5em;
}

.odsazeniText {
	margin-top: .5em;
}

.hlaska {
	font-weight: bold;
	color: #ab0c42;
	background-color: inherit;
	font-size: 1.1em;
	display: block;
}
.dpr-sortHeader {
	padding: 0 0 0 5px;
}
.kodRam {
	border: solid 3px green;
}

.odsazeniLink {
	display: block;
	margin: 2px 0 0 0;
}

.napovedaLink {
	display: inline;	
	background: #ab0c42;	
	margin: 0 0 0 10px;
	height: 20px;
	position: relative;
	top: -3px;
}

.napovedaLink a {
	color: #fff !important;	
	font-size: 12px;
	padding: 2px 5px 2px 5px;
	font-weight: bold;
	text-decoration: none;	 	
}
.napovedaLink a:hover {	
	text-decoration: none;	 	
}

.eet h1 {
	display: inline-block;	
	margin: .2em 0 .2em 0; 
}

.obsahText .obsah {
	margin-right: 0;	
}

.obsahText #telo {
	min-width: 0;
	min-height: 0;
}

.blokNapovedy ul {
	margin-left: 0;
	margin-bottom: 0;
}

.blokNapovedy ol {	
	margin: 0;
	padding: 0;
	list-style-position: inside;
}

.blokNapovedy ol .nadpis {
	margin-left: -5px;	
}

.blokNapovedy ol ul {
	margin-left: 20px;
}

.blokNapovedy ul li span.nadpis {
	font-weight: bold;
	font-style: italic;
}

.editProvoz .klicInput {
	width: 150px;
}

.pov {
	padding-left: 3px;	
}

table 
{
	border-collapse:collapse;
}

.tabulka_result 
{
	background-color: #eeeeee;
	text-align: left;
	border-style: hidden;
	border-collapse: collapse;
	margin: 0px auto;
	width: 100%;	
}

.tabulka_text_clenove1  
{
	text-align: center;
	border-style: hidden;
	border-collapse: collapse;
	margin: 0px auto;
	width: 200;	
}

.tabulka_text_clenove2
{
	text-align: center;
	border-style: hidden;
	border-collapse: collapse;
	margin: 0px auto;
	width: 500;	
}

.it 
{
	font-family: Arial,Arial CE,Helvetica,Helvetica CE;
	font-size: 10pt;
	font-style: italic;
}
.bo
{
	font-family: Arial,Arial CE,Helvetica,Helvetica CE;
	font-size: 10pt;
	font-weight: bold;
}

.data 
{
	font-family: Arial,Arial CE,Helvetica,Helvetica CE;
	vertical-align: top;
	font-size: 10pt;
	font-weight: bold;
}

.data_section  {
    margin-left:auto; 
    margin-right:auto;
	width: 550px;
}

.main_data_table  {
	width: 100%;
}

.link  
{
	font-family: Arial,Arial CE,Helvetica,Helvetica CE;
	font-weight: bold;
	font-size: 10pt;
}

.count  
{
	font-weight: bold;
	font-size: 10pt;
}

.label_clenove
{
	width: 250px;
	font-family: Arial,Arial CE,Helvetica,Helvetica CE;
	vertical-align: top;
	font-size: 10pt;
}

th
{
	text-align: left;
	font-weight: normal;
	width: 180;
	font-family: Arial,Arial CE,Helvetica,Helvetica CE;
	font-size: 10pt;
}

.label2
{
	font-family: Arial,Arial CE,Helvetica,Helvetica CE;
	vertical-align: top;
	font-size: 10pt;
}

.col1
{
	width: 180;
}
.col2
{
}
