{block title|striptags|upper}REGISTR SPOLEHLIVOSTI PLÁTCŮ DPH :: JEDNOTLIVÉ DOTAZY{/block}

{block content}

<div class="content">
    {snippet}
    
    <div style="padding: 10px;">

        <div id="resultTableDiv">
        </div>

    {form simpleRequestForm}
        <table class="simpleRequestFormTable">
            {for $i=0; $i<$dicCount; $i++}
                <tr><td>{label dic_$i /}</td><td>{input dic_$i}</td></tr>
            {/for}
            <tr><td colspan="2"><span style="margin-right: 10px;"><a n:href="changeDicCount! $dicCount-1">Odebrat řádek</a></span><span><a n:href="changeDicCount! $dicCount+1">Přidat řádek</a></span></td></tr>
            <tr><td colspan="2">{input sendRequest}</td></tr>
        </table>
    {/form}

    </div>

    {/snippet}
</div>

{/block}