{block content}

<script>
    $(function() {
        $( "#tabs" ).tabs();
    });
</script>

<div class="content">
    <div id="tabs" class="registrReportContainer" style="position:absolute;left:50%;margin-left:-340px;background-color: #fff;border:1px solid black;padding:10px;top:20px;bottom:20px;width: 700px;">
        <ul>
        {var $counter = 1}
        {foreach $dicList as $dic}
            <li><a href="#tabs-{$counter++}">{$dic}</a></li>
        {/foreach}            
        </ul>
        {var $counter = 1}
        <div style="position:absolute;bottom:10px;top:80px;width:700px;overflow:auto;">
        {foreach $registrPage as $page}            
            <div id="tabs-{$counter++}">{!$page}</div>
        {/foreach}
        </div>
        
    </div>
</div>

{/block}