<div class="reportLeftMenu">
    <div class="section"><span>ČAS POŽADAVKU</span></div>
    <div class="data"><span>{$requestTime}</span></div>
    <div class="section"><span>ČAS ODPOVĚDI</span></div>
    <div class="data"><span>{$responseTime}</span></div>
    <div class="leftMenuButton" n:href="updateData!"><span>Aktualizovat data registru</span></div>
</div>