{block title|striptags|upper}REGISTR SPOLEHLIVOSTI PLÁTCŮ DPH :: ABOUT{/block}

{block content}

<div id="resultTableDiv">

</div>

<div class="content">
    <div style="margin-top: 100px;text-align:center">
        <table style="margin: 0 auto;text-align:left;">
            <tr style="font-weight:bold;border: 1px solid black;"><td colspan="2" style="padding: 2px 10px;background-color: #CDDAEA;border: 1px solid black;">REGISTR SPOLEHLIVOSTI PLÁTCŮ DPH</td></tr>
            <tr><td style="font-weight:bold;">Verze: </td><td>2.1</td></tr>
            <tr><td style="font-weight:bold;">Vytvořil: </td><td>František Hrubeš</td></tr>
            <tr><td style="font-weight:bold;">Tel.: </td><td>+420 739 528 404</td></tr>
            <tr><td style="font-weight:bold;">E-mail: </td><td><a href="mailto:hrubesf@gamex.viscofan.com">hrubesf@gamex.viscofan.com</a></td></tr>
            <tr><td colspan="2" style="text-align:right;"><img src="{$basePath}/images/nette-powered1.gif"></td></tr>
        </table>
    </div>
</div>

{/block}
