{* This is the welcome page, you can delete it *}
{block title|striptags|upper}REGISTR SPOLEHLIVOSTI PLÁTCŮ DPH :: AUTOMATICKÝ DOTAZ{/block}


{block content}

<script>
    {if !$ready}
    $(document).ready(function() {
        $.ajax({
            url: "/?do=getReady",        
            // whether this is a POST or GET request
            type: "GET",
            // the type of data we expect back
            dataType: "json"
        });
    });
    {/if}
    $("div.hideLeftMenu").live("click", function() {
        $("div.reportLeftMenu").hide();
        $("div.reportContainer").css("left","11px");
        $("div.transparent_layer").css("left","12px");
        $("div.leftMenuShow").show();
    });
    $("div.leftMenuShow").live("click", function() {
        $("div.leftMenuShow").hide();
        $("div.reportLeftMenu").show();
        $("div.reportContainer").css("left","251px");
        $("div.transparent_layer").css("left","252px");        
    });
</script>

<div class="content">

    {snippet}

        <div class="reportLeftMenu">
            <div class="hideLeftMenu leftMenuButton" style="position:relative;top:-6px;left:-6px;width:230px;margin:0px;padding:2px 10px;text-align:right;"><img src="{$basePath}/images/left_arrow.png" width="10" /><img src="{$basePath}/images/left_arrow.png" width="10" /><img src="{$basePath}/images/left_arrow.png" width="10" />Skrýt levé menu</div>
            <div class="section"><span>ČAS POŽADAVKU</span></div>
            <div class="data"><img src="{$basePath}/images/sap.png" width="16" /><span>{$requestTime}</span></div>
            <div class="section"><span>ČAS ODPOVĚDI</span></div>
            <div class="data"><img src="{$basePath}/images/cash.png" width="16" /><span>{$responseTime}</span></div>
            <div class="section"><span>MOŽNOSTI</span></div>
            <div class="leftMenuButton"><a n:href="update!" class="ajax"><span><img src="{$basePath}/images/update.png" /></span><span>Aktualizovat data registru</span></a></div>
            <div class="leftMenuButton" ><a n:href="showOnlyProblems! $options['pouzeProblemove']" class="ajax">
                {if $options['pouzeProblemove']}
                    <span><img src="{$basePath}/images/all.png" /></span><span>Zobrazit všechny</span> 
                {else}
                    <span><img src="{$basePath}/images/alert.png" /></span><span>Zobrazit pouze problémové</span>
                {/if}
            </a></div>
            <div class="leftMenuButton" ><a n:href="exportToExcel!" class=""><span><img src="{$basePath}/images/excel.png" /></span><span>Export do EXCELu</span></a></div>
            <div class="leftMenuButton" ><a n:href="Options:" class=""><span><img src="{$basePath}/images/option.png" width="16" /></span><span>Změnit nastavení</span></a></div>
            <div class="section"><span>NASTAVENÍ</span></div>
            <div class="data">
                <table class="leftMenuOptions">
                    <tr><td>Zobrazit interní číslo SAP</td><td>{$options['cisloSubjektu']|formatOption}</td></tr>
                    <tr><td>Zobrazit název subjektu</td><td>{$options['nazevSubjektu']|formatOption}</td></tr>
                    <tr><td>Všechny účty z registru</td><td>{$options['uctyRegistru']|formatOption}</td></tr>
                    <tr><td>Datum zveřejnění účtu</td><td>{$options['datumZverejneniUctu']|formatOption}</td></tr>
                    <tr><td>Datum zveřejnění nespolehlivosti</td><td>{$options['datumZverejneniNespolehlivosti']|formatOption}</td></tr>
                    <tr><td>Zobrazit číslo FÚ</td><td>{$options['cisloFu']|formatOption}</td></tr>
                    <tr><td>Zobrazit pouze problémové</td><td>{$options['pouzeProblemove']|formatOption}</td></tr>
                    <tr><td>Exportovat pouze problémové</td><td>{$options['excelPouzeProblemove']|formatOption}</td></tr>
                    <tr><td>Počet položek na stránce</td><td>{$options['itemsOnPage']|formatOption}</td></tr>
                    <tr><td>Maximální stáří dat z registru</td><td>{$options['acceptedAge']|formatAgeOption}</td></tr>
                </table>
            </div>
        </div>
        <div class="leftMenuShow">
            <table style="height:100%;vertical-align:middle;border-collapse:collapse;margin:0px;padding:0px;">
                <tr><td> </td></tr>
                <tr>
                    <td>
                        <span><img src="{$basePath}/images/right_arrow.png" alt="right_arrow" width="10" /></span>
                        <span><img src="{$basePath}/images/right_arrow.png" alt="right_arrow" width="10" /></span>
                        <span><img src="{$basePath}/images/right_arrow.png" alt="right_arrow" width="10" /></span>
                    </td>
                </tr>
                <tr><td> </td></tr>
            </span>
            </table>
        </div>

        {if $ready}   
            {control subjectReport}
        {/if}
        <div class="transparent_layer" style="display: none;text-align:center;">
            <img src="../images/indicator.gif" style="margin-top: 150px;">
        </div>

    {/snippet}

</div>

{/block}
