<div class="reportContainer">

{snippet reportTable}

<script>
    $(document).ready(function() {
        $('#reportTable').fixheadertable({            
            colratio : [30,100,{if $opt['cisloSubjektu']}75,{/if}{if $opt['nazevSubjektu']}250,{/if}100,{if $opt['datumZverejneniNespolehlivosti']}100,{/if}{if $opt['cisloFu']}50,{/if}200,200,{if $opt['datumZverejneniUctu']}100,{/if}110],
            //sortable : true,
            //sortedColId : 3,
            //sortType : ['integer','integer',{if $opt['cisloSubjektu']}'integer',{/if}{if $opt['nazevSubjektu']}'string',{/if}'string',{if $opt['datumZverejneniNespolehlivosti']}'date',{/if}{if $opt['cisloFu']}'string',{/if}'integer','integer',{if $opt['datumZverejneniUctu']}'date',{/if}'string'],
            resizeCol: true,
            wrapper: false
        });
        $( ".jqbutton" ).button();
        $("#registrPageWindow").dialog({            
            minHeight: 400,
            maxHeight: 600,
            autoOpen: false,            
            width: 590,
            modal: false,            
            position: { my: "center top", at: "center top", of: window },
            open: function(event, ui) {
                
            },
            close: function(event, ui) {
                if ( event.originalEvent && $(event.originalEvent.target).closest(".ui-dialog-titlebar-close").length ) {                    
                    activeRow.children( "td" ).css({
                        backgroundColor: defaultBack,
                        color: "#222222",
                        fontWeight: "normal",
                        textDecoration: "none"
                    });
                }
            },
            show: {
                efect: "blind",
                duration: 500
            },
            hide: {
                efect: "blind",
                duration: 500
            }
        });
        $(".registrDialogOpen").live("click", function() {
            var $this = $( this );                
            activeRow = $this.closest("tr");
            defaultBack = activeRow.css("backgroundColor");
            activeRow.children( "td" ).css({                
                color: '#000000',
                backgroundColor: '#D0D0D0',
                textDecoration: "underline"
            });            
            $("#registrPageWindow").dialog("option","title","Výpis z registru");
            $("#registrPageWindow").dialog("open");
        });
    });
</script>

<div class="reportPagesContainer">
    <table style="border-collapse:collapse;width:100%;">
        <tr>
            <td style="text-align:left;width:50px;">
                <div style="height: 100%;text-align:left;float:left;">
                {if $pages->getPage() > 1}
                    <a n:href="setPage! $pages->getPage()-1" class="jqbutton ajax" style="line-height:20px;vertical-align:middle;">Předchozí</a>
                {/if}
                </div>
            </td>
            <td style="text-align:center;">
                <div style="height: 100%;font-weight: bold;">
                    <span style="line-height:20px;vertical-align:middle;">
                        {if !$opt['pouzeProblemove']}
                            {$pages->getOffset()+1} - {$pages->getLength()+$pages->getOffset()} / {$pages->getItemCount()}
                        {else}
                            {$pages->getOffset()+1} - {$pages->getItemCount()} / {$pages->getItemCount()}
                        {/if}
                    </span>
                </div>
            </td>
            <td style="text-align:right;width:50px;">
                <div style="height: 100%;text-align:right;float:right;">
                    {if $pages->getPage() < $pages->getPageCount() && !$opt['pouzeProblemove']} 
                        <a n:href="setPage! $pages->getPage()+1" class="jqbutton ajax" style="line-height:20px;vertical-align:middle;">Další</a>
                    {/if}
                </div>
            </td>
        </tr>
    </table>
</div>

<div class="reportTableContainer">
    <table id="reportTable" class="reportTable" cellpadding="0" cellspacing="0">
        <thead>
            <tr class="reportTableHeading">
                <th> </th>
                <th>DIČ</th>
                {if $opt['cisloSubjektu']}
                    <th>Interní číslo<br />SAP</th>
                {/if}
                {if $opt['nazevSubjektu']}
                    <th>Název subjektu<br />SAP</th>
                {/if}
                <th>Nespolehlivý<br />plátce</th>
                {if $opt['datumZverejneniNespolehlivosti']}
                    <th>Datum zveřejnění<br />nespolehlivosti</th>
                {/if}
                {if $opt['cisloFu']}
                    <th>Číslo<br />FÚ</th>
                {/if}
                <th>Bankovní účty<br />SAP</th>
                <th>Bankovní účty<br />Registr</th>
                {if $opt['datumZverejneniUctu']}
                    <th>Datum zveřejnění<br />účtu</th>
                {/if}
                <th>Registr</th>
            </tr>
        </thead>
        <tbody>
        {foreach $subjects as $subject}
        <tr n:class="$iterator->odd ? reportTableOddRow : reportTableEvenRow">
            <td style="text-align:center;">{$iterator->getCounter()+$pages->getOffset()}</td>
            <td style="">{$subject['dic_sap']}</td>
            {if $opt['cisloSubjektu']}
                <td style="">{$subject['cislo_sap']}</td>
            {/if}
            {if $opt['nazevSubjektu']}
                <td style="">{$subject['nazev_sap']}</td>
            {/if}
            <td style="text-align:center;">{$subject['nespolehlivy']}</td>
            {if $opt['datumZverejneniNespolehlivosti']}
                <td style="text-align:center;">{$subject['nespolehlivy_od'] === NULL ? '' : date_format($subject['nespolehlivy_od'],'d.m.Y')}</td>
            {/if}
            {if $opt['cisloFu']}
                <td style="text-align:center;">{$subject['cislo_fu']}</td>
            {/if}
            <td style="">
                {foreach $subject['shodne_ucty'] as $ucet}
                    <div class="shodnyUcet">
                        {$ucet|formatAccount}
                    </div>
                {/foreach}
                {foreach $subject['ucty_sap_shodne'] as $ucet}
                    <div class="shodnyUcetSap">
                        {$ucet|formatAccount}
                    </div>
                {/foreach}
                {foreach $subject['ucty_sap'] as $ucet}
                    <div class="ucetSap">
                        {$ucet|formatAccount}
                    </div>
                {/foreach}
            </td>
            <td style="">
                {foreach $subject['shodne_ucty'] as $ucet}
                    <div class="shodnyUcet">
                        {$ucet|formatAccount}
                    </div>
                {/foreach}
                {foreach $subject['ucty_registr_shodne'] as $ucet}
                    <div class="shodnyUcetRegistr">
                        {$ucet|formatAccount}
                    </div>
                {/foreach}
                {if $opt['uctyRegistru']}
                    {foreach $subject['ucty_registr'] as $ucet}
                        <div class="ucetRegistr">
                            {$ucet|formatAccount}
                        </div>
                    {/foreach}
                {/if}
            </td>
            {if $opt['datumZverejneniUctu']}
                <td style="text-align:center;">
                    {foreach $subject['shodne_ucty'] as $ucet}
                        <div class="shodnyUcet">
                            {date_format($ucet->datum_zverejneni,'d.m.Y')}
                        </div>
                    {/foreach}
                    {foreach $subject['ucty_registr_shodne'] as $ucet}
                        <div class="shodnyUcetRegistr">
                            {date_format($ucet->datum_zverejneni,'d.m.Y')}
                        </div>
                    {/foreach}
                    {if $opt['uctyRegistru']}
                        {foreach $subject['ucty_registr'] as $ucet}
                            <div class="ucetRegistr">
                                {date_format($ucet->datum_zverejneni,'d.m.Y')}
                            </div>
                        {/foreach}
                    {/if}
                </td>
            {/if}
            <td style="text-align:center;">
                <a n:href="showRegistrPageWindow!,$subject['dic'],$subject['dic_sap'],$subject['nazev_sap']" class="jqbutton ajax registrDialogOpen" onclick="openRegistrPageWindow()">Zobrazit registr</a>
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
</div>

{/snippet}

</div>


<div id="registrPageWindow" title="Výpis z registru" style="z-index:1000;">
    {snippet regPageWindow}
        <script>
            if ({$regPageTitle} != "") {                
                $("#registrPageWindow").dialog("option","title","Výpis z registru    ::    " + {$regPageTitle});
            }            
        </script>
        <div id="registrPageDiv">
          
            {!$registrPage} 
          
        </div>
    {/snippet}
</div>