<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs-CZ" lang="cs-CZ">

<head>
	<meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=8">
	<meta name="description" content="Nette Framework web application skeleton">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>{block title|striptags|upper}REGISTR SPOLEHLIVOSTI PLÁTCŮ DPH{/block}</title>

        <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/jquery-ui/jquery-ui.css">        
        <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/base.css">
        <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css">
          <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/adis/dph.css">

	<script src="{$basePath}/js/jquery.js"></script>
        <script src="{$basePath}/js/jquery.fixheadertable.js"></script>
        <script src="{$basePath}/js/jquery-ui.js"></script>        
	<script src="{$basePath}/js/netteForms.js"></script>
        <script src="{$basePath}/js/jquery.nette.js"></script>
        <script src="{$basePath}/js/dph.js"></script>        
	{block head}{/block}
</head>

<body scroll="no">
    <div class="heading">
        <span><img src="{$basePath}/images/cash.png" style="position:relative;bottom:-2px;margin:0px 20px;" width="32" /></span><span style="line-height:40px;vertical-align:top;font-size:20px;font-weight:bold;margin:0px;padding:0px;">REGISTR SPOLEHLIVOSTI PLÁTCŮ DPH</span>
    </div>    
    <div class="topMenu"><div style="margin-left:2px;">
        <span n:class="$presenter->isLinkCurrent('Homepage:*') ? topMenuButtonSelected : topMenuButton"><a n:href="Homepage:default,TRUE" onclick="showProgress()">Automatický dotaz</a></span>
<!--        <span n:class="$presenter->isLinkCurrent('SimpleRequest:*') ? topMenuButtonSelected : topMenuButton"><a n:href="SimpleRequest:">Jednotlivé dotazy</a></span>-->
        <span n:class="$presenter->isLinkCurrent('Options:*') ? topMenuButtonSelected : topMenuButton"><a n:href="Options:" title="Nastavení">Nastavení</a></span>
        <span n:class="$presenter->isLinkCurrent('About:*') ? topMenuButtonSelected : topMenuButton" style=""><a n:href="About:" title="O aplikaci">O aplikaci</a></span>
    </div></div>

    <div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

    {include #content}
</body>
</html>
