body {
    position: absolute;
    width: 100%;
    height: 100%;    
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background-color: #FAFAFA; 
    font-family: Arial;
    font-size: 12px;
}

.heading {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;    
    /*border-bottom: 1px solid #CCD9EA;*/
    background-color: #CDDAEA;    
    text-align: left;    
    height: 40px;    
}

.topMenu {
    position: absolute;
    width: 100%;
    top: 40px;
    left:0px;    
    height: 30px;
    border-bottom: 2px solid #A0AFC3;
    text-align: left;
    vertical-align: middle;    
    background-image: url("../images/topMenuBackground.png");
    background-repeat: repeat-x;    
}

.topMenuButton {
    display: inline-block;
    height: 24px;
    margin: 3px 0px;
    padding: 0px 20px;
    font-weight: bold;
    vertical-align: middle;
}

.topMenuButtonSelected {
    display: inline-block;
    height: 24px;
    margin: 2px 0px;
    padding: 0px 19px;
    font-weight: bold;
    vertical-align: middle;
    background-image: url("../images/topMenuBackgroundHover.png");
    border: 1px solid #A0AFC3;
    cursor: default;
}

.topMenuButton:hover {    
    margin: 2px 0px;
    padding: 0px 19px;
    border: 1px solid #A0AFC3;
    background-image: url("../images/topMenuBackgroundHover.png");
    cursor: pointer;
}

.topMenuButton a {    
    display: inline-block;
    text-decoration: none;
    color: #000;
    height: 24px;
    line-height: 24px;        
    vertical-align: middle;
    font-weight: normal;
}

.topMenuButtonSelected a {    
    text-decoration: none;
    color: #000;
    height: 24px;
    line-height: 24px;
    vertical-align: middle;
    font-weight: bold;
}

.content {
    position: absolute;    
    top: 72px;
    bottom: 0px;
    left: 0px;
    right:0px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background-color: #FAFAFA;    
}

.heading h2 {
    margin: 0px;
    padding: 0px;
}

.reportLeftMenu, .leftMenuShow {
    position: absolute;
    float:left;
    top: 0px;
    left: 0px;
    bottom: 0px;
    padding: 5px;
    width: 240px;    
    border-right: 1px solid #A0AFC3;
    background-color: #EDF4FF;
}
.leftMenuShow {
    display: none;
    vertical-align: middle;
    width: 10px;
    padding: 0px;
    cursor: pointer;
}
.leftMenuShow span {
    vertical-align: middle;
}
.leftMenuShow img {
    margin: 0px;
    padding: 0px;
}
.leftMenuShow:hover {
    background-color: #A0AFC3;
}

div.section {
    border: 1px solid #A0AFC3;
    background-color: #CEE0FC;   
    padding: 1px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
}
div.section:first-child {    
    margin-top: 0px;
}
div.section span {
    font-size: 14px;
    font-weight: bold;
    /*margin-left: 15px;    */
}
div.data img {position:relative;bottom:-3px;margin-left: 10px;}
div.data span {
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;      
    margin-top: 5px;
}
div.leftMenuButton {    
    display: inline-block;
    vertical-align: middle;
    /*text-align: center;*/
    font-weight: bold;
    /*width: 200px;*/
    padding: 0px;
    margin: 2px 8px;
    border: 1px solid #A0AFC3;
    cursor: pointer;
    background-image: url("../images/topMenuBackground.png");
}
div.leftMenuButton:hover {
    background-image: url("../images/topMenuBackgroundHover.png");
}

div.leftMenuButton a {
    display: inline-block;
    padding: 2px 10px;
    width: 200px;
    color: #000;
    text-decoration: none;
    vertical-align: middle;
}
div.leftMenuButton a img {
    position: relative;
    bottom: -3px;
    border: 0px;
    margin: 0px;
    margin-right: 10px;
    padding: 0px;
}
div.leftMenuButton a span {
    width: 100%;
    line-height: 18px;
    vertical-align: middle;
}
.leftMenuOptions {
    width: 220px;
    border-collapse: collapse;
    margin: 10px;
    text-align: right;
    font-weight: bold;
}
.leftMenuOptions tr {
    border-bottom: 1px dotted #A0AFC3;
}
.leftMenuOptions tr td:first-child {
    font-weight: normal;
    width: 75%;
    text-align: left;
}
.reportContainer {        
    position: absolute;
    top: 0px;
    left: 251px;
    right: 0px;
    bottom: 0px;
    border-right: 1px solid #A0AFC3;
    border-bottom: 1px solid #A0AFC3;
    /*width: 100%;*/
    /*overflow: no-display;*/
    
}

.reportPagesContainer {        
    height: 28px;
    background-color: #A0AFC3;
}

.reportTableContainer {
    position: absolute;
    top:28px;
    left:0;
    right:0;
    bottom:0;
}

.reportTableContainer > div {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
/*

.reportTable {     
    background-color: #FAFAFA;
    border-collapse: collapse;
    font-size: 12px;
    text-align: left;    
}

.reportTable tr {
    white-space: nowrap;
}
*/
.reportTableEvenRow {
    background-color: #F6F6F6;
}
.reportTableHeading th {        
    font-weight: bold;    
}
.shodnyUcet {
    font-weight: bold;
}
.ucetSap {
    
}
.shodnyUcetRegistr, .shodnyUcetSap {
    background-color: #fff0b0;
    font-weight: bold;
}
/*
.reportTable td {    
    border-left: 1px solid #A3A7AC;
    padding: 1px 5px; 
    white-space: nowrap;
}



.reportTableHeading td {
    height: 40px;
    color: #000;
    background-color: #A0AFC3;
    border-left: 1px solid #A0AFC3;
    font-size: 13px;
    padding: 1px 5px;    
    text-align: center;
    font-weight: bold;    
    white-space: nowrap;
}


#registrPageWindow {
    display: none;
}
*/

#registrPageDiv {
    padding: 5px 0px;
}

.transparent_layer {    
    position: fixed;
    left: 252px;
    top: 72px;
    right: 0;
    bottom: 0;
    background-color: #000;
    z-index:100;
    /* These three lines are for transparency in all browsers. */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity:.5;
}

.progress_layer {        
    width: 100%;
    height: 100%;    
}

div.flash {
    color: black;
    background-color: #CCFF99;
    border: 1px solid #66CC00;
    padding: 1em;
    margin: 1em 0;
}
